.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
}

.grid-item{
    background-color: lightblue;
    padding:20px;
    text-align: center;
}

img{
    display: flex;
    justify-content: center;
    transform: scale(5, 5)
}